* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .works-image {
    background-color: #EBF0EE;
    width: 100%;
    height: 200px;
  }
  
  li {
    list-style-type: none;
    background-color: #EBF0EE;
    font-size: 12px;
  }

  h4 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
